
.sidebar{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column; 

    height:100%;
}

.logo{
    width:50px;
    height: 50px;
    margin: 24px;
    margin-bottom: 60px;

    border: 1px solid black;

}

.navButtonsContainer{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column; 

    gap:40px;
    padding: 0px 24px;
}

.navButton{
    width:50px;
    height: 50px;
    border-radius: 8px;   
    background-color: inherit;
    border: 1px solid #E4E4E7; /*나중에 변수로 갈아끼우기..*/
}