**/node_modules
*/**/node_modules
node_modules
.git
.gitignore
Dockerfile
.dockerignore
npm-debug.log
*.env
*.md
LICENSE
*.yml/node_modules/
/apps/server/db/
/apps/server/nginx/
/apps/server/logstash/
/packages/dto/tsconfig.tsbuildinfo
/out/
