strict-peer-dependencies=false

auto-install-peers=true


# https://pnpm.io/blog/2020/10/17/node-modules-configuration-options-with-pnpm
# 현재 d3 type 에 대한 의존성을 dashboard-web에서 찾지 못하고 있어서 해당 types/d3에 대한 의존성을 root로 끌어올려버렸습니다. 
# phantom dependency에 대한 해결책으로 호이스팅을 사용하지만, 타입 미씽으로 인한 버그로 인하여 사용함 

# 현재 dependency chain이 d3 -> d3-submodule 형식이여서 typescript -> @types가 해당 module에 대한 정보를 찾지 못함  (pnpm 의  의존성 관리 flow와도 얽히고 설킨 문제같습니다.)
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@types/d3*