@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
    @apply m-0 p-0 text-b1 leading-24 antialiased;
}

input {
    @apply outline-0 border-0;
}

