.container {
  width: 300px;
  margin: 0 auto;

  --font-size-xlg: 2.5rem;
  --font-size-lg: 2rem;
  --font-size-md: 1.5rem;
  --font-size-sm: 1rem;

  @media (min-width: 480px) {
    width: 360px;

  }

  @media (min-width: 768px) {
    width: 600px;

  }

  @media (min-width: 1024px) {
    width: 720px;

  }

  @media (min-width: 1440px) {
    width: 900px;

  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 2rem 0 0.6rem;
    font-weight: bold;
  }

  h1 {
    font-size: var(--font-size-xlg);
  }

  h2 {
    font-size: var(--font-size-lg);
  }
  h3 {
    font-size: var(--font-size-md);
  }
  h4,
  h5 {
    font-size: var(--font-size-sm);
  }

  p {
    font-size: var(--font-size-sm);
  }

  ol {
    list-style-type: disc;
  }

  li {
    font-size: var(--font-size-sm);
    margin-block-start: 0.5rem;
    margin-inline-start: 20px;
  }

  a {
    font-size: var(--font-size-sm);
    text-decoration: underline;
    color: #0d6efd;
  }

  blockquote {
    font-size: var(--font-size-md);
  }

  .date {
    color: #adb5bd;
  }

  p {
    margin-bottom: 0.5rem;
  }
}

/* css 벨류어블 사용해서 미디어 쿼리 대응
https://www.daleseo.com/css-responsive-typography/
*/

.contentDivision {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
