.root {
    @apply flex h-11 items-center pl-4 pr-2 py-2.5 bg-background10 rounded-10;
    
    > input {
        @apply text-grey90 caret-primary60;
        
        &::placeholder {
            @apply text-grey20 font-regular;
        }
    }

    > input[data-hasvalue="true"] + button {
        @apply visible opacity-1;
        transform: scale(1) rotateZ(0);
    }
    > button {
        @apply flex items-center justify-center w-8 h-full invisible opacity-0;
        transition: .18s all;
        transform: scale(0)  rotateZ(-360deg);
        
        circle {
            transition: .1s all;
        }
        
        &:hover circle {
            @apply fill-grey40;
        }
    }
}