# This is a basic workflow to help you get started with Actions

name: dothis-lending-page CD


# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  pull_request:
    branches: [ "lending/deploy" ]
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - run: build
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout source code.
        uses: actions/checkout@master
        with:
          ref: main
          
      - name: Install pnpm
        run: npm install -g pnpm
      
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '18.13.0'
        # 깃허브 액션 러너에서의 노드 버전은 여기선 큰의미가 없음.

      - name: Install Dependencies
        run: |
           pnpm install

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: Deploy Next.js app
        run: |
          cd ./apps/dashboard-web && npm run deploy
