/* styles.css */
.DialogOverlay {
  background: rgba(0 0 0 / 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
  z-index: 9999;
}

.DialogContent {
  min-width: 300px;
  background: none;
  /* padding: 30px; */
  border-radius: 8px;
}
